{% extends "base.html" %} {% block content %} {% if paginator %} {% set pages =
paginator.pages %} {% else %} {% set section = get_section(path="_index.md") %}
{% set pages = section.pages %} {% endif %} {% for page in pages %}
<article class="e2-note">
  <div class="note-header">
    <h2 class="note-title">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </h2>
    <time
      class="note-date"
      datetime="{{ page.date | date(format='%Y-%m-%d') }}"
    >
      {{ page.date | date(format="%d.%m.%Y") }}
    </time>
  </div>

  {% if page.description %}
  <div class="note-summary e2-text">
    <p>{{ page.description }}</p>
  </div>
  {% elif page.summary %}
  <div class="note-summary e2-text">{{ page.summary | safe }}</div>
  {% endif %} {% if page.taxonomies.tags %}
  <div class="note-tags">
    {% for tag in page.taxonomies.tags %}
    <a href="{{ get_taxonomy_url(kind='tags', name=tag) | safe }}" class="tag"
      >#{{ tag }}</a
    >
    {% endfor %}
  </div>
  {% endif %}
</article>
{% endfor %} {% if paginator %}
<nav class="pagination">
  {% if paginator.previous %}
  <a href="{{ paginator.previous }}" class="pagination-newer">&larr; Новее</a>
  {% endif %} {% if paginator.next %}
  <a href="{{ paginator.next }}" class="pagination-older">Старше &rarr;</a>
  {% endif %}
</nav>
{% endif %} {% endblock content %}
